:root {
  --color-primary: #2C6C73;
  --color-secondary: #0B2626;
  --color-accent: #407364;
  --color-light: #768C54;
  /* --color-background: #4180aa; */
  --color-background: linear-gradient(blue, 10%, pink);
  --color-input-bg: #4C8C94;
  --color-input-text: #F2EDD5;
  --color-input-hover-bg: #407364;
  --color-input-hover-text: #F2EDD5;
  --color-delete: #D9534F;

  --login-bg: #2C6C73;
  --login-circle: #F2EDD5;
  --login-input-bg: #0B2626;
  --login-btn-bg: #407364;
  --login-btn-text: #F2EDD5;
  --login-btn-bg-hover: #2C6C73;
  --login-btn-text-hover: #0B2626;

  font-family: 'Comic Sans MS', cursive, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-secondary);
  background-color: var(--login-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body, html {
  background-color: var(--login-bg);
  color: var(--color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a {
  color: var(--login-btn-text-hover);
  text-decoration: none;
}

a:hover {
  color: var(--login-btn-bg-hover);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-background);
}

button {
  background-color: var(--color-primary);
  color: var(--color-background);
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
  border-radius: 0.5em;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 0.5em;

}

button:hover {
  background-color: var(--color-accent);
  color: var(--color-secondary);
}

.button-delete {
  background-color: var(--color-delete);
}

.button-delete:hover {
  background-color: darken(var(--color-delete), 10%);
}

input, select {
  border: 1px solid var(--color-secondary);
  padding: 0.5em;
  margin: 0.5em 0;
  width: 100%;
  color: var(--color-input-text);
  border-radius: 0.5em;
  transition: background-color 0.3s ease, color 0.3s ease;
}

select {
  background-color: var(--color-accent);
}

input {
  background-color: var(--color-accent);
}

input:hover, select:hover {
  background-color: var(--color-input-hover-bg);
  color: var(--color-secondary);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid var(--color-secondary);
  padding: 0.5em;
  text-align: left;
}

th {
  background-color: var(--color-primary);
  color: var(--color-background);
}

td {
  background-color: var(--color-light);
}

.form-container {
  background-color: var(--color-background);
  border: 1px solid var(--color-secondary);
  padding: 2em;
  border-radius: 1em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  max-height: 90vh; /* Ajusta esto según sea necesario */
  overflow-y: auto;
}

.form-container h2 {
  color: var(--color-primary);
  margin-bottom: 1em;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .form-container {
    padding: 1em;
  }

  input, select {
    font-size: 1em;
    padding: 0.75em;
  }

  button {
    padding: 0.75em 1.5em;
    margin: 0.25em;
  }

  .button-container {
    flex-direction: column;
    align-items: stretch;
  }

  .button-container button {
    margin-bottom: 0.5em;
  }
}

@media (max-width: 480px) {
  .form-container {
    padding: 0.5em;
  }

  input, select {
    font-size: 0.9em;
    padding: 0.5em;
  }

  button {
    padding: 0.5em 1em;
    margin: 0.25em;
  }
}

.feedings-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-x: auto;
  gap: 20px;
  width: 100%;
  padding: 20px 0;
}

.feeding-card {
  background-color: var(--color-light);
  border: 1px solid var(--color-secondary);
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  min-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feeding-card p {
  margin: 10px 0;
  color: var(--color-secondary);
}

.action-button {
  background-color: var(--color-primary);
  color: var(--color-background);
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 100%;
  text-align: center;
}

.action-button:hover {
  background-color: var(--color-accent);
  color: var(--color-secondary);
}

.action-button-delete {
  background-color: var(--color-delete);
  color: var(--color-background);
}

.action-button-delete:hover {
  background-color: darken(var(--color-delete), 10%);
}
 
/* nav h1 {
  color: var(--color-background);
}

nav p {
  color: var(--color-background);
  font-family: 'Comic Sans MS', cursive, sans-serif;
} */

.BGM {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* nav li {
  margin: 1rem 0;
}

nav a {
  color: var(--color-background);
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  background-color: var(--color-light);
  border-radius: 5px;
  display: inline-block;
}

nav a:hover {
  background-color: var(--color-accent);
} */

.admin-box, .guest-box {
  background-color: var(--color-light);
  color: var(--color-background);
  padding: 1rem;
  border-radius: 5px;
  margin: 1rem;
  position: relative;
  display: inline-block;
  width: 200px;
  text-align: center;
  cursor: pointer;
}

.admin-box h2, .guest-box h2 {
  margin: 0;
  padding: 0;
  color: var(--color-background);
}

.welcome-section {
  background-color: var(--color-primary);
  padding: 2rem;
  border-radius: 10px;
  color: var(--color-background);
  text-align: center;
  width: 100%;
}

h2, h3 {
  margin: 16px;
  text-align: center;
  color: var(--color-background);
}

.appointments-container {
  width: 98%;
  margin: 20px;
  padding: 20px;
  background-color: var(--color-secondary);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  text-align: center;
}

.cita-item {
  background-color: #fff;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
  flex: 1 0 21%;
  display: flex;
  flex-direction: column;
}

.cita-item p {
  margin: 5px 0;
  color: #555;
}

.cita-item strong {
  color: #333;
}

.cita-item:hover {
  background-color: #eaeaea;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cita-item.last-cita {
  border-left: 5px solid #4CAF50;
  border: 2px solid var(--color-primary);
  background-color: var(--color-light);
  border-radius: 10px;
  padding: 16px;
  margin: 16px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 60%;
  margin: 0 auto;
}

.filter-container {
  margin: 20px 0;
  text-align: center;
}

.filter-container label {
  margin-right: 10px;
  color: #555;
}

.filter-container select {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
}

.scrollable-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding: 16px;
  overflow-y: auto;
  height: calc(100vh - 80px);
  box-sizing: border-box;
  color: #000;
}

.scrollable-container .card {
  flex: 1 1 calc(25% - 32px);
  margin: 16px;
  background-color: var(--color-light);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.scrollable-container .card:hover {
  transform: translateY(-5px);
}

.scrollable-container .card h3 {
  margin: 0;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  color: var(--color-background);
}

.scrollable-container .card p {
  margin: 0;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  color: var(--color-secondary);
}

body {
  background: rgb(34,193,195);
background: -moz-radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(23,101,14,0.9191877434567577) 100%);
background: -webkit-radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(23,101,14,0.9191877434567577) 100%);
background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(23,101,14,0.9191877434567577) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3",endColorstr="#17650e",GradientType=1);
  font-family: Arial, sans-serif; /* Fuente */
}

h2 {
  color: #fff; /* Color del texto del título */
  text-align: center; /* Alineación del título */
  margin-top: 20px; /* Margen superior */
}

.dog-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.dog-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  width: 200px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.dog-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dog-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.new-appointment-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.new-appointment-button:hover {
  background-color: #0056b3;
}

h3 {
  color: #ffffff; /* Color del texto del subtítulo */
  text-align: center; /* Alineación del subtítulo */
}

.titleC {
  color: #292626; /* Color del texto del subtítulo */
  text-align: center; /* Alineación del subtítulo */
}

.citas-grid {
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.cita-item {
  background-color: var(--color-light);
  border: 1px solid var(--color-light);
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
}

.cita-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.last-cita {
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.button-cancel {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.button-cancel:hover {
  background-color: #c82333;
}

.button-accept {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.button-accept:hover {
  background-color: #218838;
}

.edit-cita-container {
  width: 80%;
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: var(--color-secondary);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.edit-cita-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.edit-cita-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="date"],
textarea,
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.edit-cita-container button {
  padding: 10px;
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.edit-cita-container button:hover {
  background-color: var(--color-primary-dark);
}
